# .gitignore

# LaTex #
#########
*.aux
*.log
*.thm
*.backup
*.tex.backup
*.tex.bak
*.undo
*.*.undo
*.tex.orig
*~
*.bbl
*.blg
*.nav
*.out
*.snm
*.toc
*.vrb
*.pdf

# Temporary Files #
###################
.*.swp # vim lock file

# R #
#####
.R*
