# .gitignore

# LaTex #
#########
*.aux
*.log
*.tex.backup
*.tex.bak
*.tex.undo
*.tex.orig
*~
*.bbl
*.blg
*.nav
*.out
*.snm
*.toc
*.vrb
*.pdf

# Temporary Files #
###################
.*.swp # vim lock file

# WSC Automatic Files #
###################
psfig.sty
wsc.bst
wsc.sty
wscbib.tex
wscpaperproc.cls
wscsetup.sty
